body {
    font-size: 16px;
    font-family: 'Comic Neue', cursive;
    color: #1a1a1a;
    background-color: white;
}


/** HEADER **/

#header-nav {
    background-color: grey;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
}

#header-nav button:hover {
    background-color: white;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: grey;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: black;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    font-size: 2.5em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px white;
}

#nav-list {
    background-color:white;
}

#nav-list a {
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: grey;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 10px solid black;
}


/** END HEADER */


/** HOME PAGE **/

#main-content {
    width: 92%;
    margin-bottom: 40px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
}

#main-content h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

#main-section {
    background-color: grey;
    box-shadow: 0 0 10px black;
    padding: 10px;
}

/** END HOME PAGE **/
